<%- include("./partials/head.ejs") %>

<header class="banner">
    <div id="banner-image"></div>
    <h1 id="slogan">Where People Meet</h1>
    <div id="buttons">
        <% if (!user) { %>
                <a href="/signup" class="button" id="sign-up">Sign Up</a>
                <a href="/login" class="button" id="login">Login</a>
        <% }%>
        <a href="#top-events-carousel" class="button">Top Events</a>
    </div>
</header>

<section id="top-events-carousel">
    <!-- Your top events carousel content goes here -->
</section>

<%- include('./partials/footer'); -%>