<%- include('partials/head'); -%>

<style>
  body {
    background: linear-gradient(to bottom, white, black);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  label.required::after {
    content: '*';
    color: red;
    margin-right: 5px;
  }

  .custom-input:focus,
  .custom-input:hover {
    border-color: black;
    box-shadow: 0 0 5px black;
  }

  .better-together-wrapper {
    margin: auto;
    height: 100%;
    width: 100%;
    background-image: url("../public/img/signup-img.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Adjust the shadow values as needed */
  }
  label{
    color: white;
      font-size: 20px;
      text-shadow:
          0.05em 0 black,
          0 0.05em black,
          -0.05em 0 black,
          0 -0.05em black,
          -0.05em -0.05em black,
          -0.05em 0.05em black,
          0.05em -0.05em black,
          0.05em 0.05em black;

  }
  .sign{
    color: white;
    text-shadow:
          0.05em 0 black,
          0 0.05em black,
          -0.05em 0 black,
          0 -0.05em black,
          -0.05em -0.05em black,
          -0.05em 0.05em black,
          0.05em -0.05em black,
          0.05em 0.05em black;
  }

</style>

<div class="better-together-wrapper">

  <div class="login-option text-center mt-4">
    <h3>Already have an account?</h3>
    <a class="btn btn-outline-dark" href="/login">Login</a>
  </div>

  
  <div class="text-center mt-4">
    <!-- <img src="../public/img/signup-img.jpeg" alt="Image Description"> -->
    <h3 class="display-4 fw-bold text-shadow">Join Us for Unforgettable Moments</h3>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form action="/signup" class="border p-4 rounded bg-light-opacity" method="post">
          <h2 class="sign mb-4">Sign up</h2>
  
          <div class="form-group">
            <label for="username" class="required">Create Username:</label>
            <input type="text" name="username" class="form-control custom-input">
            <div class="username error"></div>
          </div>
  
          <div class="form-group">
            <label for="name" class="required">First Name:</label>
            <input type="text" name="name" class="form-control custom-input">
            <div class="name error"></div>
          </div>
  
          <div class="form-group">
            <label for="surname" class="required">Last Name:</label>
            <input type="text" name="surname" class="form-control custom-input">
            <div class="surname error"></div>
          </div>
  
          <div class="form-group">
            <label for="city" class="required">City:</label>
            <select name="city" class="form-control custom-input">
              <option value="Amsterdam">Amsterdam</option>
              <option value="Rotterdam">Rotterdam</option>
              <option value="Utrecht">Utrecht</option>
              <option value="The Hague">The Hague</option>
              <option value="Eindhoven">Eindhoven</option>
              <option value="Other">Other</option>
            </select>
            <div class="city error"></div>
          </div>
  
          <div class="form-group">
            <label for="email" class="required">Email:</label>
            <input type="email" name="email" class="form-control custom-input">
            <div class="email error"></div>
          </div>
  
          <div class="form-group">
            <label for="password" class="required">Password:</label>
            <input type="password" name="password" class="form-control custom-input">
            <div class="password error"></div>
          </div>
  
          <div class="login-option text-center d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-dark text-white">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<%- include('partials/footer'); -%>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form');
  const usernameError = document.querySelector('.username.error');
  const nameError = document.querySelector('.name.error');
  const surnameError = document.querySelector('.surname.error');
  const cityError = document.querySelector('.city.error');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    usernameError.textContent = '';
    nameError.textContent = '';
    surnameError.textContent = '';
    cityError.textContent = '';
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const username = form.username.value;
    const name = form.name.value;
    const surname = form.surname.value;
    const city = form.city.value;
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/signup', { 
        method: 'POST', 
        body: JSON.stringify({ username, name, surname, city, email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        usernameError.textContent = data.errors.username;
        nameError.textContent = data.errors.name;
        surnameError.textContent = data.errors.surname;
        cityError.textContent = data.errors.city;
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

  });

  // Rest of your JavaScript code...
});


  
</script>

