*{
    margin: 0;
    padding: 0;
}
.page{
    background-image: url("../../../public/img/mainBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.slogan {
    font-family: "Papyrus";
    margin-top: 8%;
    margin-bottom: 0;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Adjust text color */
    font-size: 80px; /* Adjust font size */
    text-align: center;
}

.bannerButton {
    display: inline-block;
    padding: 13px 25px;
    margin-top: 2%;
    margin-left: 50%;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    font-size: 16px;
}

.carousel{
    align-self: center;
    margin-top: 30px;
    width: 80%;
}
.carousel img{
    border-radius: 30px;
    height: 600px;
    width: 600px;
}